<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ContactData"
         connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\admin\Desktop\JavascriptORM\JavascriptORM\Data\JsORM.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>

  <system.webServer>
    <handlers>
      <add name="ScriptHandlerFactory" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304"/>
    </handlers>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
